html,
body {
  width: 100%;
  height: 100%;
  overflow-x: hidden; }

html {
  font-size: 62.5%; }
  @media screen and (max-width: 1200px) {
    html {
      font-size: 50%; } }

body {
  line-height: 1.2;
  font-family: poppins, sans-serif; }

*,
*::after,
*::before {
  margin: 0;
  padding: 0; }

.container {
  max-width: 136.4rem;
  margin: 0 auto; }
  @media screen and (max-width: 1370px) {
    .container {
      margin: 0 2rem; } }

.link {
  text-decoration: none; }

.play-icon {
  fill: #E80D15;
  width: 3rem;
  height: 3.5rem;
  margin-right: 1rem;
  cursor: pointer; }

.play-pause-btn {
  background-color: rgba(0, 0, 0, 0.1);
  outline: none;
  border: none;
  display: flex;
  align-items: center;
  justify-content: space-around; }

.live-pause {
  color: #E80D15;
  text-transform: uppercase;
  font-size: 2.0rem;
  font-weight: 700;
  min-width: 12.2rem; }

.social-media {
  fill: #FFFFFF;
  width: 3rem;
  height: 3.5rem;
  margin-right: 1rem;
  cursor: pointer; }
  .social-media :hover {
    fill: #ffffff59;
    scale: 105%;
    transition: all .1s linear; }

input[type=range] {
  height: 1.0rem;
  background-color: #e80d143b;
  -webkit-appearance: none;
  margin: 1rem 0;
  outline: none;
  border-radius: 25rem;
  cursor: pointer; }
  @media screen and (max-width: 330px) {
    input[type=range] {
      max-width: 8rem; } }
  input[type=range]::-webkit-slider-thumb {
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
    border: 0.4rem solid #E80D15;
    -webkit-appearance: none;
    background-color: white; }
    input[type=range]::-webkit-slider-thumb:hover {
      box-shadow: 0 0 0 1rem #e80d143b; }
  input[type=range]::-webkit-slider-progress {
    height: 1rem;
    border-radius: 2.5rem;
    background-color: #E80D15; }

.num {
  font-size: 1.6rem;
  color: #FFFFFF;
  min-width: 5.5rem; }

.mobile-icon {
  display: none;
  z-index: 99; }
  @media screen and (max-width: 850px) {
    .mobile-icon {
      display: block;
      fill: #0B6B20;
      width: 5rem;
      height: 5rem;
      margin-left: auto;
      margin-right: 5rem;
      cursor: pointer; } }
  @media screen and (max-width: 850px) and (max-width: 420px) {
    .mobile-icon {
      margin: 0 auto; } }
  @media screen and (max-width: 850px) and (max-width: 330px) {
    .mobile-icon {
      height: 4rem; } }

.nav {
  height: 14.5rem;
  overflow: hidden; }
  .nav_top {
    background-color: #FFFFFF;
    height: 8rem;
    display: flex;
    align-items: center; }
    .nav_top .container {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center; }
    .nav_top__logo {
      z-index: 99;
      display: inline-block;
      height: 6.5rem; }
      @media screen and (max-width: 330px) {
        .nav_top__logo {
          height: 4.5rem; } }
    .nav_top__links {
      display: flex;
      list-style-type: none; }
      @media screen and (max-width: 850px) {
        .nav_top__links {
          display: none; } }
      .nav_top__links--link {
        display: inline-block;
        height: 100%; }
        .nav_top__links--link .nav-link {
          display: inline-block;
          margin: auto 1rem;
          text-decoration: none;
          color: #0B6B20;
          font-size: 2rem;
          font-weight: 700;
          text-transform: uppercase; }
    @media screen and (max-width: 850px) {
      .nav_top__mobile {
        position: fixed;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        display: block;
        margin-left: 0rem;
        width: 100vw;
        height: 100vh;
        overflow: hidden;
        background-color: #DFD82F;
        transition: all .7s linear; } }
    .nav_top__mobile--links {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      margin-top: 10.5rem;
      font-size: 2.2rem;
      list-style-type: none;
      text-transform: uppercase;
      font-weight: 700; }
      .nav_top__mobile--links-link {
        display: flex;
        align-items: center;
        justify-content: space-around;
        border: 2px solid #0B6B20;
        width: 100%;
        height: 100%;
        position: relative; }
        .nav_top__mobile--links-link:before {
          content: "";
          top: 0;
          left: 0;
          position: absolute;
          width: 0%; }
        .nav_top__mobile--links-link:hover:before {
          transition: all .7s ease-in-out;
          width: 100%;
          height: 100%;
          background-color: #E80D15; }
    .nav_top__mobile a {
      z-index: 3;
      display: inline-block;
      color: #FFFFFF; }
    .nav_top__login {
      z-index: 99;
      display: flex;
      align-items: center;
      justify-content: space-around;
      height: 6rem;
      width: 10.5rem;
      background-color: #E80D15;
      border-radius: 8rem;
      color: #FFFFFF;
      text-transform: uppercase;
      font-weight: 700;
      font-size: 1.4rem; }
      @media screen and (max-width: 330px) {
        .nav_top__login {
          width: 7rem;
          height: 4rem; } }
  .nav_bottom {
    height: 6.5rem;
    background-color: #060606; }
    .nav_bottom .container {
      height: 100%; }
    .nav_bottom__list {
      display: flex;
      align-items: center;
      justify-content: space-around;
      list-style-type: none;
      height: 100%;
      color: #FFFFFF;
      font-weight: 700;
      font-size: 3.5rem;
      text-transform: uppercase; }
      .nav_bottom__list--item {
        display: flex; }
        .nav_bottom__list--item a {
          text-decoration: none;
          display: flex;
          align-items: center;
          flex-direction: row; }
        .nav_bottom__list--item:first-child {
          display: flex; }
        .nav_bottom__list--item:not(:first-child) {
          font-size: 2.2rem;
          font-weight: 700; }
          @media screen and (max-width: 850px) {
            .nav_bottom__list--item:not(:first-child) {
              display: none; } }

.hero-section {
  height: calc(100vh - 14.5rem);
  width: 100vw;
  background-color: #d7f3de;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='88' height='88' viewBox='0 0 88 88'%3E%3Cg fill='%2377de84' fill-opacity='0.4'%3E%3Cpath fill-rule='evenodd' d='M29.42 29.41c.36-.36.58-.85.58-1.4V0h-4v26H0v4h28c.55 0 1.05-.22 1.41-.58h.01zm0 29.18c.36.36.58.86.58 1.4V88h-4V62H0v-4h28c.56 0 1.05.22 1.41.58zm29.16 0c-.36.36-.58.85-.58 1.4V88h4V62h26v-4H60c-.55 0-1.05.22-1.41.58h-.01zM62 26V0h-4v28c0 .55.22 1.05.58 1.41.37.37.86.59 1.41.59H88v-4H62zM18 36c0-1.1.9-2 2-2h10a2 2 0 1 1 0 4H20a2 2 0 0 1-2-2zm0 16c0-1.1.9-2 2-2h10a2 2 0 1 1 0 4H20a2 2 0 0 1-2-2zm16-26a2 2 0 0 1 2-2 2 2 0 0 1 2 2v4a2 2 0 0 1-2 2 2 2 0 0 1-2-2v-4zm16 0a2 2 0 0 1 2-2 2 2 0 0 1 2 2v4a2 2 0 0 1-2 2 2 2 0 0 1-2-2v-4zM34 58a2 2 0 0 1 2-2 2 2 0 0 1 2 2v4a2 2 0 0 1-2 2 2 2 0 0 1-2-2v-4zm16 0a2 2 0 0 1 2-2 2 2 0 0 1 2 2v4a2 2 0 0 1-2 2 2 2 0 0 1-2-2v-4zM34 78a2 2 0 0 1 2-2 2 2 0 0 1 2 2v6a2 2 0 0 1-2 2 2 2 0 0 1-2-2v-6zm16 0a2 2 0 0 1 2-2 2 2 0 0 1 2 2v6a2 2 0 0 1-2 2 2 2 0 0 1-2-2v-6zM34 4a2 2 0 0 1 2-2 2 2 0 0 1 2 2v6a2 2 0 0 1-2 2 2 2 0 0 1-2-2V4zm16 0a2 2 0 0 1 2-2 2 2 0 0 1 2 2v6a2 2 0 0 1-2 2 2 2 0 0 1-2-2V4zm-8 82a2 2 0 1 1 4 0v2h-4v-2zm0-68a2 2 0 1 1 4 0v10a2 2 0 1 1-4 0V18zM66 4a2 2 0 1 1 4 0v8a2 2 0 1 1-4 0V4zm0 72a2 2 0 1 1 4 0v8a2 2 0 1 1-4 0v-8zm-48 0a2 2 0 1 1 4 0v8a2 2 0 1 1-4 0v-8zm0-72a2 2 0 1 1 4 0v8a2 2 0 1 1-4 0V4zm24-4h4v2a2 2 0 1 1-4 0V0zm0 60a2 2 0 1 1 4 0v10a2 2 0 1 1-4 0V60zm14-24c0-1.1.9-2 2-2h10a2 2 0 1 1 0 4H58a2 2 0 0 1-2-2zm0 16c0-1.1.9-2 2-2h10a2 2 0 1 1 0 4H58a2 2 0 0 1-2-2zm-28-6a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm8 26a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm16 0a2 2 0 1 0 0-4 2 2 0 0 0 0 4zM36 20a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm16 0a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm-8-8a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm0 68a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm16-34a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm16-12a2 2 0 1 0 0 4 6 6 0 1 1 0 12 2 2 0 1 0 0 4 10 10 0 1 0 0-20zm-64 0a2 2 0 1 1 0 4 6 6 0 1 0 0 12 2 2 0 1 1 0 4 10 10 0 1 1 0-20zm56-12a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm0 48a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm-48 0a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm0-48a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm24 32a10 10 0 1 1 0-20 10 10 0 0 1 0 20zm0-4a6 6 0 1 0 0-12 6 6 0 0 0 0 12zm36-36a6 6 0 1 1 0-12 6 6 0 0 1 0 12zm0-4a2 2 0 1 0 0-4 2 2 0 0 0 0 4zM10 44c0-1.1.9-2 2-2h8a2 2 0 1 1 0 4h-8a2 2 0 0 1-2-2zm56 0c0-1.1.9-2 2-2h8a2 2 0 1 1 0 4h-8a2 2 0 0 1-2-2zm8 24c0-1.1.9-2 2-2h8a2 2 0 1 1 0 4h-8a2 2 0 0 1-2-2zM3 68c0-1.1.9-2 2-2h8a2 2 0 1 1 0 4H5a2 2 0 0 1-2-2zm0-48c0-1.1.9-2 2-2h8a2 2 0 1 1 0 4H5a2 2 0 0 1-2-2zm71 0c0-1.1.9-2 2-2h8a2 2 0 1 1 0 4h-8a2 2 0 0 1-2-2zm6 66a6 6 0 1 1 0-12 6 6 0 0 1 0 12zm0-4a2 2 0 1 0 0-4 2 2 0 0 0 0 4zM8 86a6 6 0 1 1 0-12 6 6 0 0 1 0 12zm0-4a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm0-68A6 6 0 1 1 8 2a6 6 0 0 1 0 12zm0-4a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm36 36a2 2 0 1 0 0-4 2 2 0 0 0 0 4z'/%3E%3C/g%3E%3C/svg%3E"); }
  .hero-section .hero__image {
    height: 100%;
    width: 100%;
    object-fit: cover; }

.container-slider {
  width: 100vw;
  height: 100%; }

.carousel {
  width: 100%;
  border-radius: 5px;
  display: flex;
  justify-content: flex-start;
  position: relative;
  overflow: hidden; }

.slider {
  display: flex;
  height: 100%;
  /* width: 500%; */
  flex-shrink: 0;
  transition: all 2s; }

.slider section {
  /* flex-basis: 20%;
width: 20%; */
  flex-shrink: 0;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%; }

.arrow {
  position: absolute;
  top: 10px;
  cursor: pointer; }

.arrow.prev {
  left: 10px; }

.arrow.next {
  right: 10px; }

.image {
  object-fit: cover;
  height: 100%;
  width: 100%; }

.hide {
  visibility: hidden;
  width: 0vw;
  height: 0vh;
  margin-left: 0rem;
  overflow: hidden; }
