.nav{
    height: 14.5rem;
    overflow: hidden;

    &_top{
        background-color: $color-white;
        height: 8rem;
        display: flex;
        align-items: center;

        .container{
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        &__logo{
            z-index: 99;
            display: inline-block;
            height: 6.5rem;
            @media screen and (max-width: 330px ) {
                height: 4.5rem;
            }


        }

        &__links{
            display: flex;
            list-style-type: none;

            @media screen and (max-width: 850px) {
                display: none;
                
            }

            &--link{
                display: inline-block;
                //margin-right: 2rem;
                //background-color: $color-red;
                height: 100%;


                .nav-link{
                    display: inline-block;
                    margin: auto 1rem;
                    text-decoration: none;
                    color: $color-green;
                    font-size: 2rem;
                    font-weight: $font-weight-bold;
                    text-transform: uppercase;
                }
            }
        }

        &__mobile{
            

            @media screen and (max-width: 850px) {
                position: fixed;
                top: 0;
                left: 50%;
                transform: translateX(-50%);
                display:block;
                margin-left: 0rem;
                width: 100vw ;
                height: 100vh ;
                overflow: hidden;
               // z-index: 100;
                background-color: $color-yellow;
                transition: all .7s linear;
            }
            &--links{
                width: 100%;
                height: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-around;
                margin-top: 10.5rem;
                font-size: 2.2rem;
                list-style-type: none;
                text-transform: uppercase;
                font-weight: $font-weight-bold ;
                
                &-link{
                    @include flex-center;
                    border: 2px solid $color-green;
                    width: 100%;
                    height: 100%;
                    position: relative;
                    

                    &:before{
                        content: "";
                        top: 0;
                        left: 0;
                        position: absolute;
                        width: 0%;
                    }


                    &:hover:before{
                        
                        transition: all .7s ease-in-out;
                        width: 100%;
                        height: 100%;
                        background-color: $color-red;

                    }

                    
                }
            }
            a{
                z-index: 3;
                display: inline-block;
                color: $color-white;
                //height: 100%;
               // padding: 3rem;
            }
        }

        &__login{
            z-index: 99;
            @include flex-center;
            height: 6rem;
            width: 10.5rem;
            background-color: $color-red;
            border-radius: 8rem;
            color: $color-white;
            text-transform: uppercase;
            font-weight: $font-weight-bold;
            font-size: 1.4rem;
            @media screen and (max-width: 330px ) {
                width: 7rem;
                height: 4rem;
            }
            
        }

    }

    &_bottom{
        height: 6.5rem;
        background-color: $color-black;

        .container{
            height: 100%;
        }

        &__list{
            @include flex-center;
            list-style-type: none;
            height: 100%;
            color: $color-white;
            font-weight: $font-weight-bold;
            font-size: 3.5rem;
            text-transform: uppercase;

            &--item{
                display: flex;
                a{
                    text-decoration: none;
                    display: flex;
                    align-items: center;
                    flex-direction: row;
                }
                &:first-child{
                    display: flex;
                }
                &:not(:first-child){
                    font-size: 2.2rem;
                    font-weight: $font-weight-bold;

                    @media screen and (max-width: 850px){
                        display: none;
                    }
                }

            }

            
        }
        
    }
}
.hero-section{
    height: calc(100vh - 14.5rem);
    width: 100vw;
    background-color: #d7f3de;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='88' height='88' viewBox='0 0 88 88'%3E%3Cg fill='%2377de84' fill-opacity='0.4'%3E%3Cpath fill-rule='evenodd' d='M29.42 29.41c.36-.36.58-.85.58-1.4V0h-4v26H0v4h28c.55 0 1.05-.22 1.41-.58h.01zm0 29.18c.36.36.58.86.58 1.4V88h-4V62H0v-4h28c.56 0 1.05.22 1.41.58zm29.16 0c-.36.36-.58.85-.58 1.4V88h4V62h26v-4H60c-.55 0-1.05.22-1.41.58h-.01zM62 26V0h-4v28c0 .55.22 1.05.58 1.41.37.37.86.59 1.41.59H88v-4H62zM18 36c0-1.1.9-2 2-2h10a2 2 0 1 1 0 4H20a2 2 0 0 1-2-2zm0 16c0-1.1.9-2 2-2h10a2 2 0 1 1 0 4H20a2 2 0 0 1-2-2zm16-26a2 2 0 0 1 2-2 2 2 0 0 1 2 2v4a2 2 0 0 1-2 2 2 2 0 0 1-2-2v-4zm16 0a2 2 0 0 1 2-2 2 2 0 0 1 2 2v4a2 2 0 0 1-2 2 2 2 0 0 1-2-2v-4zM34 58a2 2 0 0 1 2-2 2 2 0 0 1 2 2v4a2 2 0 0 1-2 2 2 2 0 0 1-2-2v-4zm16 0a2 2 0 0 1 2-2 2 2 0 0 1 2 2v4a2 2 0 0 1-2 2 2 2 0 0 1-2-2v-4zM34 78a2 2 0 0 1 2-2 2 2 0 0 1 2 2v6a2 2 0 0 1-2 2 2 2 0 0 1-2-2v-6zm16 0a2 2 0 0 1 2-2 2 2 0 0 1 2 2v6a2 2 0 0 1-2 2 2 2 0 0 1-2-2v-6zM34 4a2 2 0 0 1 2-2 2 2 0 0 1 2 2v6a2 2 0 0 1-2 2 2 2 0 0 1-2-2V4zm16 0a2 2 0 0 1 2-2 2 2 0 0 1 2 2v6a2 2 0 0 1-2 2 2 2 0 0 1-2-2V4zm-8 82a2 2 0 1 1 4 0v2h-4v-2zm0-68a2 2 0 1 1 4 0v10a2 2 0 1 1-4 0V18zM66 4a2 2 0 1 1 4 0v8a2 2 0 1 1-4 0V4zm0 72a2 2 0 1 1 4 0v8a2 2 0 1 1-4 0v-8zm-48 0a2 2 0 1 1 4 0v8a2 2 0 1 1-4 0v-8zm0-72a2 2 0 1 1 4 0v8a2 2 0 1 1-4 0V4zm24-4h4v2a2 2 0 1 1-4 0V0zm0 60a2 2 0 1 1 4 0v10a2 2 0 1 1-4 0V60zm14-24c0-1.1.9-2 2-2h10a2 2 0 1 1 0 4H58a2 2 0 0 1-2-2zm0 16c0-1.1.9-2 2-2h10a2 2 0 1 1 0 4H58a2 2 0 0 1-2-2zm-28-6a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm8 26a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm16 0a2 2 0 1 0 0-4 2 2 0 0 0 0 4zM36 20a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm16 0a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm-8-8a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm0 68a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm16-34a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm16-12a2 2 0 1 0 0 4 6 6 0 1 1 0 12 2 2 0 1 0 0 4 10 10 0 1 0 0-20zm-64 0a2 2 0 1 1 0 4 6 6 0 1 0 0 12 2 2 0 1 1 0 4 10 10 0 1 1 0-20zm56-12a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm0 48a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm-48 0a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm0-48a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm24 32a10 10 0 1 1 0-20 10 10 0 0 1 0 20zm0-4a6 6 0 1 0 0-12 6 6 0 0 0 0 12zm36-36a6 6 0 1 1 0-12 6 6 0 0 1 0 12zm0-4a2 2 0 1 0 0-4 2 2 0 0 0 0 4zM10 44c0-1.1.9-2 2-2h8a2 2 0 1 1 0 4h-8a2 2 0 0 1-2-2zm56 0c0-1.1.9-2 2-2h8a2 2 0 1 1 0 4h-8a2 2 0 0 1-2-2zm8 24c0-1.1.9-2 2-2h8a2 2 0 1 1 0 4h-8a2 2 0 0 1-2-2zM3 68c0-1.1.9-2 2-2h8a2 2 0 1 1 0 4H5a2 2 0 0 1-2-2zm0-48c0-1.1.9-2 2-2h8a2 2 0 1 1 0 4H5a2 2 0 0 1-2-2zm71 0c0-1.1.9-2 2-2h8a2 2 0 1 1 0 4h-8a2 2 0 0 1-2-2zm6 66a6 6 0 1 1 0-12 6 6 0 0 1 0 12zm0-4a2 2 0 1 0 0-4 2 2 0 0 0 0 4zM8 86a6 6 0 1 1 0-12 6 6 0 0 1 0 12zm0-4a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm0-68A6 6 0 1 1 8 2a6 6 0 0 1 0 12zm0-4a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm36 36a2 2 0 1 0 0-4 2 2 0 0 0 0 4z'/%3E%3C/g%3E%3C/svg%3E");
    .hero__image{
        height: 100%;
        width: 100%;
        object-fit: cover;
    }

    

}
.container-slider{
    width: 100vw;
    height: 100%;
}

.carousel {
    width: 100%;
    border-radius: 5px;
    display: flex;
    justify-content: flex-start;
    position: relative;
    overflow: hidden;
}

.slider {
    display: flex;
    height: 100%;
    /* width: 500%; */
    flex-shrink: 0;
    transition: all 2s;

}

.slider section {
    /* flex-basis: 20%;
width: 20%; */
    flex-shrink: 0;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.arrow {
    position: absolute;
    top: 10px;
    cursor: pointer;

}

.arrow.prev {
    left: 10px;
}

.arrow.next {
    right: 10px;
}

.image {
    object-fit: cover;
    height: 100%;
    width: 100%;
}